/* MODERN CSS RESET */
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
  margin: 0;
}

/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

header {
  height: 500px;
  background-color: lightblue;
  transform: skewY(-11deg);
}

main {
  width: 1400px;
  margin: auto;
}

h1 {
  font-size: 40px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px) );
  gap: 50px;
}

.card {
  width: 400px;
  box-shadow: 5px 5px 5px lightgray;
}

.title {
  display:flex;
  justify-content: space-between;
}

.icons {
  /* border-style: solid; */
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.inline-img {
  display: inline;
  margin: 0px 0.125em;
  height: 24px;
  /* border-style: solid; */
}

h2 {
  display: inline;
  padding-left: 20px;
}

.cardImage {
  margin-bottom: 10px;
}

.card p {
  padding: 20px;
  padding-top: 10px;
}

footer {
  margin-top: 100px;
  background-color: pink;
  padding: 48px;
}

.contact {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  justify-self: center;
}

.contactInfo p {
  display: inline;
}

.iconsFooter img {
  display: inline;
  margin: 0px 0.125em;
  height: 48px;
}

.contact p {
  font-size: 24px;
}

.footerGrid {
  width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
}